<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1314}}</string>
		<string>{{266, 0}, {2294, 1314}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00078C68-75C1-4017-B2FB-A91E14994D35</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B37F15D-F5E0-4E5E-9FCA-4917B96336F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F58065E6-592B-4494-BB1C-AC0E0F31245C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{1024, 0}, {1024, 1284}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 1304}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>441</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>mainDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {446, 628}}</string>
		<string>{{0, 629}, {446, 625}}</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 81 2560 1336 0 0 2560 1417 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>229</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 624.41577060942689}, {595, 853.87813620060922}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.4399999999999999</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
