<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>874A5DA7-8351-4CCF-AEC7-10005D84395B</key>
		<dict>
			<key>BinderUUID</key>
			<string>874A5DA7-8351-4CCF-AEC7-10005D84395B</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 682 475 522 0 0 2560 1417 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1314}}</string>
		<string>{{266, 0}, {2294, 1314}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00078C68-75C1-4017-B2FB-A91E14994D35</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0134E5AA-9F25-42DF-A1B7-421ADCC0E99B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A7986E2-3FED-4779-A7E6-3C8B1AD124DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AEBE0E5-B91E-4BA9-B4D4-30040F809F73</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B37F15D-F5E0-4E5E-9FCA-4917B96336F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D861094-7CBD-4CE9-B1E2-A161FC2D3913</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2EEAA639-B0DE-4F2A-9131-6AAB5AF4D108</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32ED72C1-1B0D-4DDC-A343-B258270FE62E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3D560B61-EC0C-4368-83CC-F38CF6E37DB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3FE6EE18-D2A4-466C-8254-D47ED736AF81</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>430EAA1B-BC68-4972-B556-1A48D2BD07EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E2C494E-99F1-4857-B7AC-EF8956E9BF7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7847C0D6-6AD1-4095-9436-8C78BA1DF052</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>874A5DA7-8351-4CCF-AEC7-10005D84395B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8CB5389A-24C0-4B12-B052-1E7249639B01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D16403E-A6DD-4A8D-B948-9769F3F7CD91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC343512-FAC8-4606-A0B5-927BD5BD2C58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCC023A6-9788-4B6D-AF62-BBBF0D70BC02</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D53712AB-856C-457D-974C-29F734E260BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F58065E6-592B-4494-BB1C-AC0E0F31245C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6196D29-3168-46D8-8B80-DABBD6930040</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{1024, 0}, {1024, 1284}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 1304}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>441</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>mainDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {446, 628}}</string>
		<string>{{0, 629}, {446, 625}}</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 81 2560 1336 0 0 2560 1417 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>229</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 7748.179211469529}, {595, 843.44802867260114}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.4399999999999999</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
